@import url(https://db.onlinewebfonts.com/c/65255940a8115bad6cf6642c348a0c9c?family=ES+Rebond+Grotesque+TRIAL+Medium);
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme {
  --color-brand-text: #2A2A2D;
  --color-bg-neutral-white: #F0F2F4;
  --color-bg-banner: #DD2F20;
  --color-text-banner: #7E1613;
  --color-bg-header-sm: #2AFFAA;

  /* font family */
  --font-rebond: "ES Rebond Grotesque TRIAL Medium", ui-sans-serif, system-ui, sans-serif;
  --font-times: "Times New Roman", Times, serif;
  --font-mono: var(--font-dmmono), monospace;

  /* breakpoints */
  --breakpoint-xs: 364px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-laptop: 1440px;
  --breakpoint-2xl: 1536px;


  /* Infinite scroll animation */
  --animate-scroll: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-70%);
  }
}